@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body
{
	background:#EEEEEE;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	padding-top:50px;
}

p
{
	font-family: 'Roboto', sans-serif;
}

input
{
	-webkit-font-smoothing: antialiased;
}

a
{
	font-family: 'Roboto', sans-serif;
}

/* EDITING ALERTS THAT DEVISE HAS SET */
.alert
{
	margin-bottom:18px;
}

/* MASTER ICON MODIFICATIONS */

.icon 
{
	font-family: icons;
	vertical-align: middle;
	line-height: 0;
	margin-right: 10px;
	font-size: 16px;
	font-weight:normal;
}

/* END */


/* OVERLAY FOOTER NAVBAR */

#overlay-menu
{
	width:100%;
	height:100%;
	display:none;
	background-color:rgba(0,0,0,.9);
	position:fixed;
	top:0px;
	left:0px;
	z-index: 9;

}

.overlay-menu-visible
{
	display:block !important;
}

#overlay-menu ul
{
	list-style: none;
	margin-top:100px;
}

#overlay-menu ul li a
{
	font-size:50px;
	font-weight:500;
	text-transform: uppercase;
	text-decoration: none;
	margin:60px;
	padding:20px;
	line-height: 90px;
	background:none;
}

#overlay-menu .icon
{
	font-size:54px;
	text-transform: lowercase;
}

/* NAVBAR MODIFICATIONS */

.navbar
{
	background:#5645B9;
	border:none;
}

.nav > li > a
{
	padding:10px 17px;
}

.navbar-brand
{
	padding:15px 10px;
	margin-left:0px;
	overflow:hidden;
	float:none;
}

.navbar > .container .navbar-brand
{
	margin-left: 0px;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
  height:100%;
}


.navbar-brand img
{
			-webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -o-transition: all 0.3s ease-in-out;
			  transition: all 0.3s ease-in-out;
}

.navbar-brand a:hover img
{
	margin-top: -55px;
}

.navbar-default 
{
	border:none;
}

.open-company-nav
{
	padding-left:5px !important;
	font-size:17px;
}

.navbar-default .navbar-nav > li > a
{
	color: #FFFFFF;
	opacity: 0.6;
}

.navbar-default .navbar-nav > li > a:hover
{
	background:#674ECA;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background:transparent;
	color:#fff;
}

.navbar-default .navbar-nav > li > a:hover
{
	color: #FFFFFF;
	opacity:1;

}

.navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FFF;
	font-weight:500;
}

/* END */

/* TOOLTIP MODIFICATIONS */


.tooltip
{
	font-weight:bold;
	font-size:12px;
}

.tooltip.bottom {
  margin-top: -10px;
}

/* END */

/* SMALL GRID MOD */

#grid
{
	padding-top:30px;
}


.item { width: 269px; display:block; float:left; margin:0px 30px 30px 0px;}
.item.w2 { width: 50%; overflow:hidden;}

.item:nth-child(4n)
{
	margin-right:0px;
}

.item .img-container img
{
width: auto;
height: 120%;
margin-left: auto;
margin-right: auto;
display:block;
}


.item .img-container iframe
{
	height:269px !important;
	width:269px !important;
}

.item .img-container
{
	height: 269px;
	overflow:hidden;
	width:100%;
}


.item .information
{
	z-index: 10;
	width:100%;
	height:110px;
	padding:10px;
	display: block;
	background:#FFF;

-moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.11);
box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.11);

	a 
	{
		color:#3A393C;
		text-decoration: none;
	}

	h4
	{
		color:#3A393C;
		font-size: 15px;
		font-weight: 500;
		vertical-align: middle;
		line-height: 20px;
		padding-left:10px;
		overflow: hidden;
    	text-overflow: ellipsis; 
    	white-space: nowrap; 

	}

	p
	{
		color:#eee;
		font-size:12px;
		letter-spacing: 0.02em;
		opacity:0.6;
		font-weight: 600;
		background-color:#000;
		padding:3px 5px;
		margin:0px;
		float:left;
		border-radius: 3px;
	}

	.user
	{
		margin-left:10px;
		font-size:12px;
		opacity:0.5;

	}



}

.social-links
{
	position:absolute;
	top: -200px;
	right: 20px;
			-webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -o-transition: all 0.3s ease-in-out;
			  transition: all 0.3s ease-in-out;
			  z-index: 20;

	.btn-bucket
	{
		background:#4C63E4;
	}

	.btn-share
	{
		background:#0EB35F;
	}

	.btn-bucket:hover
	{
		background:#3C58F1;
	}

	.btn-share:hover
	{
		background:#0ACD69;
	}

	.icon
	{
		margin-right: 0px;
	}

}

	.social-links a:hover
	{
		color:#fff;
	}

.btn-social
{
	background:rgba(0,0,0,.6);
	color:#fff;
}

.item:hover .overlay
{
	opacity:0.97;
}

.item:hover .social-links
{
	top:20px;
}

.item:hover .information
{
	display:block;
}


/* END */


/* WIDGET STYLES */









/* END WIDGET STYLES */


/* INTRODUCTION BOX */

.introduction
{
	background-color:#FFFFFf;
	padding:60px 20px;
	position:relative;
	overflow:hidden;
	border-bottom: 1px solid #E1E1E1;
}

.introduction h1
{
	color:#47464A;
	font-weight: 300;
	font-size:32px;
	padding-bottom:10px;
}

.introduction p
{
	color:#8995A8;
	font-size:16px;
	line-height:26px;
}

.introduction #mascot
{
	position:absolute;
	right:30px;
	bottom:-190px;
	-webkit-transition: all 300ms ease-out 0.2s;
    -moz-transition: all 300ms ease-out 0.2s;
    -o-transition: all 300ms ease-out 0.2s;
    transition: all 300ms ease-out 0.2s;
    z-index: 2;
}

.mascot-animate
{
	bottom:-60px !important;
}

.introduction #mascot-icons
{
	position:absolute;
	right:-15px;
	bottom:-190px;
	-webkit-transition: all 500ms ease-out 0.2s;
    -moz-transition: all 500ms ease-out 0.2s;
    -o-transition: all 500ms ease-out 0.2s;
    transition: all 500ms ease-out 0.2s;
    z-index: 1;
}

.mascot-icons-animate
{
	bottom:-20px !important;
}

.introduction .btn
{
	margin-top:50px;
	padding:14px 24px;
	font-size: 15px;
	font-weight: 500;
	color: #FFFFFF;
	background-color:#17BA8A;
	border:0px;
	/* Want an Invite?: */
}

.introduction .btn:hover
{
	background-color:#14CD96;
}

/* END OF INTRODUCTION BOX */


/* START OF SORTING BAR STYLES */

.sorting
{
	background:#FFFFFF;
}

.sorting .icon
{
	font-size: 19px;
	margin-right:15px;
	-webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.sorting ul li a
{
	font-size:15px;
	color:#8995A8;
	text-decoration: none;
	background:none;
	padding: 31px 50px 30px 0px;
	display:block;
	margin:0px;
	font-weight: 500;
	letter-spacing: 0.01em;
}

.sorting ul li a:hover .icon
{
	font-size: 24px;
}

.sorting ul
{
	list-style:none;
	margin:0px;
	padding:0px;
	padding-left:10px;
}

.sorting .btn-new
{
	padding:11px 18px;
	vertical-align: none;
	line-height: normal;
	background:#3AAE8E;
	display:block;
	font-weight: 500;
	color:#fff;
	margin:20px 0px;
}

.sorting ul li
{
	float:left;
}

.sorting .container
{
	padding:0px;
}

.sorting ul li:last-child
{
	float:right;
	padding-right:0px;

}

.post
{
	padding:19px 1px !important;
}

.sorting ul li .trending:hover
{
	color:#F6A033;
}

.sorting ul li .commented:hover
{
	color:#4ACE6F;
}

.sorting ul li .editor:hover
{
	color:#EF5390;
}

.sorting ul li .random:hover
{
	color:#FCBC13;
}

/* END OF SORTING BAR STYLES */

/* START OF INNER POST PAGE */

.widget-name
{
	padding:20px 0px;
}


.widget-name h2
{
	font-size: 28px;
	color: #47464A;
	line-height: 30px;
	font-weight: 500;
	margin:0px 0px 10px 0px;
}

.widget-name h2 a
{
	color: #4E525D;
	text-decoration: none;
}

.widget-name h2 a:hover
{
	background:none;
	color:#6B6F80;
}

.widget-name p
{
	color:#898F9E;
	font-weight: 500;
	font-size:13px; 
	margin:0px;
}

.content
{
	border-radius: 4px;
}

.content img
{
	width:60%;
	height:auto;
	padding:20px 0px;
}

.portrait
{
	width:60% !important;
}

.landscape
{
	width:100% !important;
}

.content iframe
{
	padding:20px;
}


.widget-name .social-buttons a
{
	margin:22px 0px;
	color:#fff;
	font-size:14px;
	font-weight:500;
}

.widget-name .btn-next
{
	background-color: #FC6535;
	width:50%;
	float:right;
	padding: 13px 42px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.widget-name .btn-next:hover
{
	background-color: #F65421;
}

.widget-name .btn-prev:hover
{
	background-color: #545A6C;
}

.widget-name .btn-prev
{
	background-color: #3C414F;
	width:50%;
	float:left;
	margin-right:4px;
	padding: 13px 0px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.inpost-header
{
	background:#fff;
}


.function-buttons a
{
	margin:4px 5px 0px 0px;
	color:#fff;
	font-size:14px;
	font-weight:500;
	padding: 13px 12px;
	float:left;
}

.function-buttons .btn-love
{
	background-color:#E3485B;
}

.function-buttons .btn-facebook
{
	background-color:#3454A2;
}

.function-buttons .btn-twitter
{
	background-color:#22AAF7;
}


/* END OF INNER POST PAGE */


/* START OF REGISTRATION PAGE */

.register .background
{
	background:url('register-bg.png') no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  opacity:0.08;
	    height: 100%;
	    width: 100%;
	    left: 0;
	    top: 0;
	    overflow: hidden;
	    position: fixed;
}

.register
{
	color:#fff;
	text-align: center;
	padding-top:50px;

	::-webkit-input-placeholder {
	   font-size:14px; 
	}

	:-moz-placeholder { /* Firefox 18- */
	   font-size:14px; 
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   font-size:14px; 
	}

	:-ms-input-placeholder {  
	   font-size:14px; 
	}

}



.register .sign-up-button input
{
	width:257px;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	padding:14px 24px;
	font-size: 15px;
	font-weight: 500;
	color: #FFFFFF;
	background-color:#17BA8A;
	border:0px;

}

.register h1
{
	font-size:40px;
	font-weight:400;
	padding:10px;
}

.register p
{
	font-size:16px;
	font-weight: 400;
	opacity:0.7;
	line-height: 26px;
	padding-bottom:25px;
}

.register input
{
	-webkit-appearance: none;
	background:#fff;
	border:none;
	padding:15px;
	display:block;
	margin:auto;
	margin-bottom:4px;
	color:#682EA9;
}



.register .top-rounded input
{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.register .bottom-rounded input
{
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom:20px;
}


/* END OF REGISTRATION PAGE */

/* START OF PAGES NAV */

.pages
{
	background:rgba(9, 10, 17, 0.98);
	position:fixed;
	font-size:20px;
	bottom:-100px;
	left:0;
	width:100%;
		-webkit-transition: all 500ms ease-out 0.2s;
    -moz-transition: all 500ms ease-out 0.2s;
    -o-transition: all 500ms ease-out 0.2s;
    transition: all 500ms ease-out 0.2s;
    z-index: 20;
}

.pages a
{
	color:#fff;
	text-decoration: none;
}

.pages-inview
{
	bottom:0px;
}

.pagination {
	display: block;
	padding-left: 0;
	margin: 0px 0;

}


.pagination .previous_page
{
	width: 50%;
	display: block;
	float: left;
	padding:20px;
	text-align: left;
}

.pagination .next_page
{
	width: 50%;
	display: block;
	float: right;	
	padding:20px;
	text-align: right;
}



