body
{
	background:#15181D;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

a
{
	font-family: 'Roboto', sans-serif;
}

.icon 
{
	font-family: icons;
	vertical-align: middle;
	line-height: 0;
	margin-right: 10px;
	font-size: 16px;
	font-weight:normal;
}


.navbar
{
	background:#682EA9;
	border:none;
	box-shadow:none;
}

.nav > li > a
{
	padding:10px 17px;
}

.navbar-brand
{
	padding:11px 15px;
	height:60px;
}

.open-company-nav
{
	padding-left:5px !important;
}

.navbar-default .navbar-nav > li > a
{
	color: #B396D4;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background:transparent;
	color:#fff;
}

.navbar-default .navbar-nav > li > a:hover
{
	color: #FFFFFF;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #B396D4;
	font-weight:500;
}